body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/* Landing and collapsing*/
.collapsible .toggle-collapse {
    background-color: rgb(150, 150, 255);
    color: #fff;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.collapsible .collapseContent {
    border: 1px solid black;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 5px;
}

.collapsible .collapseContent-parent {
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}


/*  Auth form*/
.auth-container {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background: #f9f9f9;
}
  
 .auth-container input {
    width: 87%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.auth-container button {
    width: 80%;
    padding: 10px;
    background-color: rgb(119, 119, 253);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
  
.auth-container .error {
    color: red;
    font-size: 0.9rem;
}
  
.auth-container .toggle {
    color: rgb(119, 119, 253);
    cursor: pointer;
    margin-top: 10px;
}


/* Navbar */
.navbar-container {
    background-color: black;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

.navbar-container ul {
    display: flex; 
    gap: 10px; 
    margin: 0;
    padding: 0;
}

.navbar-container ul li {
    list-style: none;
    background-color: grey;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-container ul li a {
    text-decoration: none;
    color: white;
}


/* Character Sheet */

.charSheet-container {
    width: 400px; /* Vertical rectangle */
    padding: 20px;
    margin: 40px auto;
    background: #f4f4f4;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
h2 {
    text-align: center;
}
  
label {
    margin-top: 10px;
    font-weight: bold;
}
  
input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
  
.stats-grid {
    display: flex;
    justify-content: space-between;
}
  
.stats-grid div {
    display: flex;
    flex-direction: column;
}
